.App{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

#base{
  width:28vw;
  height:40vw;
  background-color: black;
  border-radius: 4vw;
  border-style: solid;
  border-radius: 1vw;
  border-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  box-shadow:
    inset 0 0 50px #fff,      /* inner white */
    inset 20px 0 80px #f0f,   /* inner left magenta short */
    inset -20px 0 80px #0ff,  /* inner right cyan short */
    inset 20px 0 300px #f0f,  /* inner left magenta broad */
    inset -20px 0 300px #0ff, /* inner right cyan broad */
    0 0 50px #fff,            /* outer white */
    -10px 0 80px #f0f,        /* outer left magenta */
    10px 0 80px #0ff;         /* outer right cyan */
}

#screen{
  width:23vw;
  height:10vw;
  border-radius: 4vw;
  border-style: solid;
  border-radius: 1vw;
  border-color: white;
  margin-top: 1vw;
  margin-bottom: 1vw;
  color: white;
  font-size: 2vw;
  text-align: center;
  display: flex;
  justify-content: center;
}

#numbers, #functions{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

#buttons{
  width: 23vw;
  display:flex;
  flex-direction:column;
  justify-content: space-between;
}
#numbers{
  width:11.2vw;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 23vw;
}
#functions{
  width: 23vw;
}

.button{
  width:5vw;
  height:5vw;
  color: white;
  border-radius: 4vw;
  border-style: solid;
  border-radius: 1vw;
  border-color: white;
  margin-top:0.5vw;
  text-align: center;
  text-justify: center;
  font-size: 2vw;
}

#clear, #enter{
  font-size: 1.5vw;
  text-align: center;
}

.button:hover{
  box-shadow:
    inset 0 0 50px #fff,      /* inner white */
    inset 20px 0 80px #f0f,   /* inner left magenta short */
    inset -20px 0 80px #0ff,  /* inner right cyan short */
    inset 20px 0 300px #f0f,  /* inner left magenta broad */
    inset -20px 0 300px #0ff, /* inner right cyan broad */
    0 0 50px #fff,            /* outer white */
    -10px 0 80px #f0f,        /* outer left magenta */
    10px 0 80px #0ff;         /* outer right cyan */
}
.func:hover{
  box-shadow:
    inset 0 0 50px #fff,      /* inner white */
    inset 20px 0 80px rgb(239, 251, 5),   /* inner left magenta short */
    inset -20px 0 80px rgb(255, 0, 0),  /* inner right cyan short */
    inset 20px 0 300px #f0f,  /* inner left magenta broad */
    inset -20px 0 300px rgb(255, 179, 0), /* inner right cyan broad */
    0 0 50px #fff,            /* outer white */
    -10px 0 80px #f0f,        /* outer left magenta */
    10px 0 80px rgb(255, 196, 0);         /* outer right cyan */
}
#enter:hover{
  box-shadow:
    inset 0 0 50px #fff,      /* inner white */
    inset 20px 0 80px rgb(0, 249, 137),   /* inner left magenta short */
    inset -20px 0 80px #0ff,  /* inner right cyan short */
    inset 20px 0 300px rgb(214, 247, 5),  /* inner left magenta broad */
    inset -20px 0 300px #0ff, /* inner right cyan broad */
    0 0 50px #fff,            /* outer white */
    -10px 0 80px #f0f,        /* outer left magenta */
    10px 0 80px #0ff;         /* outer right cyan */
}
#clear:hover{
  box-shadow:
    inset 0 0 50px #fff,      /* inner white */
    inset 20px 0 80px rgb(15, 78, 203),   /* inner left magenta short */
    inset -20px 0 80px rgb(30, 161, 232),  /* inner right cyan short */
    inset 20px 0 300px rgb(214, 247, 5),  /* inner left magenta broad */
    inset -20px 0 300px rgb(0, 174, 255), /* inner right cyan broad */
    0 0 50px #fff,            /* outer white */
    -10px 0 80px #f0f,        /* outer left magenta */
    10px 0 80px #0ff;         /* outer right cyan */
}
